.col-1-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.group:hover .title-truncate {
  color: #ff006a !important;
}

.group:hover img {
  transform: scale(1.02);
  transition: 0.3s all;
}

.btn-view-all {
  color: #fff;
  text-decoration: none;
}

.btn-view-all:hover {
  color: #ff006a;
  text-decoration: none;
}

.title-list {
  color: #ff006a;
}

.btn-show-more:hover {
  color: #ff006a !important;
}
